:root {
    --secondary-color: #2C3E50;
    --primary-color: #1ABC9C;
    --info-bgcolor: #3A546D;

}






/* #region *** Common ***  */

img {
    max-width: 100%;
}

/* #endregion *** Common ***  */

/* #region *** Utility ***  */

.fs_small {
    font-size: 12px;
}

.fs_notmal {
    font-size: 1rem;
}

.p_small {
    padding: 2px;
}

/* #endregion *** Utility ***  */

/* #region *** Header ***  */

header {
    background-color: var(--secondary-color);
}


/* #endregion *** Header ***  */

/* #region *** Main ***  */

.hero ,
.about
{
    background-color: var(--primary-color);
}

.info {
    background-color: var(--info-bgcolor);
}

/* #endregion *** Main ***  */

/* #region *** Footer ***  */

footer {
    background-color: var(--secondary-color);
}

/* #endregion *** Footer ***  */