:root {
    --secondary-color: #2C3E50;
    --primary-color: #1ABC9C;
    --info-bgcolor: #3A546D;

}




.debug [class^="col-"] {
    height: 100px;
    border: 1px solid white;
    background-color: rgb(252, 186, 64);
}

/* #region *** Header ***  */

header {
    background-color: var(--secondary-color);
}


/* #endregion *** Header ***  */

/* #region *** Main ***  */

.hero ,
.about
{
    background-color: var(--primary-color);
}

.info {
    background-color: var(--info-bgcolor);
}

/* #endregion *** Main ***  */

/* #region *** Footer ***  */

footer {
    background-color: var(--secondary-color);
}

/* #endregion *** Footer ***  */